div{
    margin-bottom: 1rem
  }
  .btn{
    padding: 0.6rem 1.5rem;
    border: none;
    font-size: 1rem;
    border-radius: 0.5rem;
  }
  .btn-primary{
    background: #3498DB;
  }
  .btn-success{
    background: #27AE60;
  }
  .btn-danger{
    background: #E74C3C;
  }
  .btn-warning{
    background: #F39C12;
  }
  
  .btn-outline-primary{
    border: 1px solid #3498DB;
    color: #3498DB;
  }
  .btn-outline-success{
    border: 1px solid #27AE60;
    color: #27AE60;
  }
  .btn-outline-danger{
    border: 1px solid #E74C3C;
    color: #E74C3C;
  }
  .btn-outline-warning{
    border: 1px solid #F39C12;
    color: #F39C12;
  }
  
  
  
  