.card{
  display: flex;
}
.card-vertical{
  box-shadow: 5px 5px 5px 0px      rgba(112,112,112,0.79);
  max-width: 200px;
  height: auto;
  margin-right: 5rem;
}
img{
  width: 100%;
  height: auto;
}
.card-text{
  padding-left: 0.3rem;
}
.price-original{
  font-size: 0.88rem;
  text-decoration: line-through;
  color: #707070;
}
.discount-percent{
  color: #FFC300;
  font-size: 0.85rem;
}
.card-horizontal{
  display: flex;
  box-shadow: -5px 5px 5px 0px      rgba(112,112,112,0.79);
  max-width: 300px;
  height: auto;
}