.toast-basic{
    max-width: 45%;
    border: 0.5px solid #E5E8E8;
    box-shadow: 5px 5px 6px 1px rgba(171,178,185,0.95);
  }
  .toast-basic-header{
    display: flex;
    padding: 0.5rem 1rem 0.5rem 1rem;
    justify-content: space-between;
  }
  .toast-basic-body{
    padding: 1rem;
    background-color: #EAEDED;
  }
  .toast-standard{
    max-width: 45%;
    padding: 1rem;
    border: 1px solid #85C1E9;
    border-radius: 0.5rem;
    border-left-width: 0.5rem;
    border-left-color: #2E86C1;
    margin-bottom: 1.5rem;
  }