.alert{
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1.25rem
  }
  .alert-danger{
    background-color: #FECACA; 
  }
  .alert-success{
    background-color: #A9DFBF;
  }
  .alert-warning{
    background-color: #FCF3CF;
  }
  .alert-info{
    background-color: #E5E7E9;
  }
  